$white: #eaebed;
$charcoal: #696d7d;
$pink: #f87666;
$yellow: #ffb400;

.main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: $white;
  overflow-x: hidden;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  justify-self: center;
  align-self: start;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  box-shadow: 28px 35px 30px 5px rgba(105, 109, 125, 0.16),
    -23px -23px 50px rgb(248, 248, 248);
}

#weight-in {
  grid-column: 1;
  grid-row: 2;
}

#grind {
  grid-column: 2;
  grid-row: 2;
}

#timer {
  grid-column: 3;
  grid-row: 2;
}

#weight-out {
  grid-column: 1;
  grid-row: 3;
}

#ratio {
  grid-column: 2;
  grid-row: 3;
}


.slider-container {
  width: 25vw;
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  align-self: end;
  margin: 10px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background-color: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s ease-in-out;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $pink;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  appearannce: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $pink;
  cursor: pointer;
}
